<div class="container mt-5" *ngIf='response.length!=0'>
    <h1 style="text-align: center;">Update Restaurant</h1>
    <form class="row " [(formGroup)]="myForm">
        <div class="card  p-0">
            <div class="card-header">
                Update Restaurant
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label"> ID</label>
                        <input type="number" class="form-control" autocomplete="off" formControlName="Rid" name="Rid"
                            id="Rid" (focusout)="unique()" (focusin)='changevalue()' disabled="true">
                        <span *ngIf="f.Rid.errors && f.Rid.dirty" class="text-danger">
                            Enter six digits number and it is Required.
                        </span>
                        <span *ngIf="duplicatedata" class="text-danger">
                            ID already exist.
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"> Password</label>
                        <input type="password" autocomplete="off" class="form-control" formControlName="password"
                            name="password" id="password">
                        <span *ngIf="f.password.errors && f.password.dirty" style="color: red;">
                            Password is required.</span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"> Name</label>
                        <input type="text" class="form-control" autocomplete="off" formControlName="name" name="name"
                            id="name" (focusout)="unique()">
                        <span *ngIf="f.name.errors && f.name.dirty" style="color: red;">
                            Name is required.</span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">location Name</label>
                        <input type="text" class="form-control" autocomplete="off" formControlName="locationName">
                        <span *ngIf="f.locationName.errors && f.locationName.dirty"
                            style="color: rgb(175, 159, 159)(175, 159, 159);">
                            location Name should contain alphabetnd it is required.</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="card p-0 mt-3">
            <div class="card-header">
                Location
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                            (mapClick)="mapClicked($event)" [zoomControl]="true" [GestureHandlingOptions]="auto">
                            <div *ngIf='markers.length!=0'>
                                <agm-marker *ngFor="let m of markers; let i = index"
                                    (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                    [label]="m.label" [markerDraggable]="m.draggable"
                                    (dragEnd)="markerDragEnd(m, $event)">
                                </agm-marker>
                            </div>

                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-0 mt-3">
            <div class="card-header">
                ADDRESS
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <label for="inputAddress" class="form-label">Address</label>
                        <textarea type="text" class="form-control" autocomplete="off" id="inputAddress"
                            placeholder="Enter address" formControlName="address"></textarea>
                        <span *ngIf="f.address.errors && f.address.dirty" style="color: red;">
                            Address is required.</span>
                    </div>
                    <div class="col-md-2 mt-4">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="number" class="form-control" autocomplete="off" id="inputZip"
                            formControlName="zip">
                        <span *ngIf="f.zip.errors && f.zip.dirty" style="color: red;">
                            Enter six digits number.</span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label for="cuisines" class="form-label"> Cuisines</label>
                        <input type="text" class="form-control" autocomplete="off" id="cuisines"
                            placeholder="Enter cuisines" formControlName="cuisines">
                        <span *ngIf="f.cuisines.errors && f.cuisines.dirty" style="color: red;">Cuisines is
                            required.</span>
                    </div>
                    <div class="col-md-3 mt-4">
                        <label class="form-label"> Rating</label>
                        <br>
                        <rating formControlName="rating" [max]="5" style="font-size: 20px;">
                        </rating>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="card p-0 mt-3">
            <div class="card-header">
                Add Menu
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label"> Menu Name</label>
                        <input type="text" class="form-control" autocomplete="off" formControlName="menuname"
                            name="menuname" id="menuname">
                        <span *ngIf="f.menuname.errors && f.menuname.dirty" style="color: red;">
                            Menu Name is required.</span>
                        <span *ngIf='menunameflag' style="color: red;">
                            Menu Name is required.
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label"> Cost</label>
                        <input type="number" class="form-control" autocomplete="off" formControlName="cost" name="cost"
                            id="cost">
                        <span *ngIf="f.cost.errors && f.cost.dirty" style="color: red;">
                            cost is required.</span>
                        <span *ngIf='costflag' style="color: red;">
                            Cost is required.
                        </span>
                    </div>

                    <div class="col-md-3 mt-4">
                        <button type="submit" class="btn btn-primary" (click)="Add()" style="    margin-top: 9px;
                        padding: 5px 38px 5px 38px;">Add</button>
                    </div>

                    <!-- menuList -->
                    <div class="col-md-12" *ngIf='menuList.length!=0'>
                        <div class="card-body" style="overflow-x:auto;">
                            <table class="table table-responsive-sm table-hover table-outline mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>MenuName</th>
                                        <th>Cost</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of menuList">
                                        <td>{{item._id}}</td>
                                        <td>
                                            {{item.menuname}}
                                        </td>
                                        <td>
                                            {{item.cost}}
                                        </td>
                                        <td>
                                            <button *ngIf="item._id != undefined" style="margin-left: 15px;" type="button" 
                                            (click)="delete(item._id)"
                                                class="btn btn-danger" >
                                                Delete
                                            </button>
                                            <button  *ngIf="item._id == undefined"  style="margin-left: 15px;" type="button" 
                                            (click)="remove(item.menuname)"
                                                class="btn btn-danger">
                                                Remove
                                            </button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3 " style="text-align:center;">
            <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary"
                (click)="onUpdate()">Update</button>
        </div>
    </form>

</div>